body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/tavern.jpg) !important;
}

div#landing {
  margin: auto;
  width: 900px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div#landing h1 {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

div#landing p {
  color: lightgrey;
  margin: 0;
  padding: 0;
}